{
  "log": {
    "_recordingName": "update-existing-issue-test",
    "creator": {
      "comment": "persister:sanitizing-fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "7ea576ba9e5934f4f85e64d724e858a9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "labels",
              "value": "CI"
            },
            {
              "name": "state",
              "value": "open"
            }
          ],
          "url": "https://api.github.com/repos/malleatus/nyx-example/issues?labels=CI&state=open"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2,
            "text": "[]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"1dd9261176a32dcd5ad4cee25ac5067a84ef7b89f9a6dcf5d98dd3c1b7b1da8d\""
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4932"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1632435718"
            },
            {
              "name": "x-ratelimit-used",
              "value": "68"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 0,
      },
      {
        "_id": "43e71ef60d7813d665f5b60e1eb1c867",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "repo:malleatus/nyx-example state:open is:issue label:CI in:title \"Nightly Run Failure\""
            }
          ],
          "url": "https://api.github.com/search/issues?q=repo%3Amalleatus%2Fnyx-example%20state%3Aopen%20is%3Aissue%20label%3ACI%20in%3[...]
