{
  "log": {
    "_recordingName": "merge-green-prs-by-status-when-collaborator-approves",
    "creator": {
      "comment": "persister:sanitizing-fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "c8c1ef26888041a92087ca117eb420e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"message\":\"test commit\",\"author\":{\"name\":\"testy mctester 34271\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T16:13:31+12:00\"},\"parents\":[\"0cd9174475323d277817fc6e2ff5a94aca089a12\"],\"tree\":\"a9ca945741d41287d8bb35c9423e660e931d3695\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/commits"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1111,
            "text": "{\"sha\":\"31e3623ab4a135c0c2129cbc6bd720db195a54d2\",\"node_id\":\"MDY6Q29tbWl0MjQ4NTkzNDUzOjMxZTM2MjNhYjRhMTM1YzBjMjEyOWNiYzZiZDcyMGRiMTk1YTU0ZDI=\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/31e3623ab4a135c0c2129cbc6bd720db195a54d2\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/31e3623ab4a135c0c2129cbc6bd720db195a54d2\",\"author\":{\"name\":\"testy mctester 34271\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"committer\":{\"name\":\"testy mctester 34271\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"tree\":{\"sha\":\"a9ca945741d41287d8bb35c9423e660e931d3695\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/trees/a9ca945741d41287d8bb35c9423e660e931d3695\"},\"message\":\"test commit\",\"parents\":[{\"sha\":\"0cd9174475323d277817fc6e2ff5a94aca089a12\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/0cd9174475323d277817fc6e2ff5a94aca089a12\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/0cd9174475323d277817fc6e2ff5a94aca089a12\"}],\"verification\":{\"verified\":false,\"reason\":\"unsigned\",\"signature\":null,\"payload\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"26a45773714db99a7567cd9e30ccc8641a5a5a639364d7eebce3e188eb2c4384\""
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "location",
              "value": "https://api.github.com/repos/malleatus/nyx-example/git/commits/31e3623ab4a135c0c2129cbc6bd720db195a54d2"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4977"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1632435718"
            },
            {
              "name": "x-ratelimit-used",
              "value": "23"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 0,
      },
      {
        "_id": "ba14696b1d86acf70f3de3ad907662a7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"sha\":\"31e3623ab4a135c0c2129cbc6bd720db195a54d2\",\"ref\":\"refs/heads/tests/merge-green-prs-when-collaborator-approves\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/refs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 493,
            "text": "{\"ref\":\"refs/heads/tests/merge-green-prs-when-collaborator-approves\",\"node_id\":\"MDM6UmVmMjQ4NTkzNDUzOnJlZnMvaGVhZHMvdGVzdHMvbWVyZ2UtZ3JlZW4tcHJzLXdoZW4tY29sbGFib3JhdG9yLWFwcHJvdmVz\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/refs/heads/tests/merge-green-prs-when-collaborator-approves\",\"object\":{\"sha\":\"31e3623ab4a135c0c2129cbc6bd720db195a54d2\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/31e3623ab4a135c0c2129cbc6bd720db195a54d2\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"840984f1f760e643c4ae153b875ece96c2e024fe183441ff5e1a6efeb2392889\""
            },
            {
              "name": "x-oauth-scopes",
   [...]
