{
  "log": {
    "_recordingName": "basic-test",
    "creator": {
      "comment": "persister:SanitizingPersister",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "7ea576ba9e5934f4f85e64d724e858a9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "labels",
              "value": "CI"
            },
            {
              "name": "state",
              "value": "open"
            }
          ],
          "url": "https://api.github.com/repos/malleatus/nyx-example/issues?labels=CI&state=open"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2,
            "text": "[]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4846"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1584828254"
            },
            {
              "name": "etag",
              "value": "\"0f347d35fde8c582404d6dfb235df5ab\""
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 311,
      },
      {
        "_id": "846f6256233322fc8551387987972175",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "repo:malleatus/nyx-example state:open is:issue label:CI in:title Nightly Run Failure: 123456"
            }
          ],
          "url": "https://api.github.com/search/issues?q=repo%3Amalleatus%2Fnyx-example%20state%3Aopen%20is%3Aissue%20label%3ACI%[...]
