{
  "log": {
    "_recordingName": "merge-by-context-review",
    "creator": {
      "comment": "persister:sanitizing-fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "c8c1ef26888041a92087ca117eb420e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"message\":\"test commit\",\"author\":{\"name\":\"testy mctester 58238\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T16:13:31+12:00\"},\"parents\":[\"0cd9174475323d277817fc6e2ff5a94aca089a12\"],\"tree\":\"a9ca945741d41287d8bb35c9423e660e931d3695\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/commits"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1111,
            "text": "{\"sha\":\"5316c8d61536f1963449a263d4e8381eddaf1b85\",\"node_id\":\"MDY6Q29tbWl0MjQ4NTkzNDUzOjUzMTZjOGQ2MTUzNmYxOTYzNDQ5YTI2M2Q0ZTgzODFlZGRhZjFiODU=\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/5316c8d61536f1963449a263d4e8381eddaf1b85\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/5316c8d61536f1963449a263d4e8381eddaf1b85\",\"author\":{\"name\":\"testy mctester 58238\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"committer\":{\"name\":\"testy mctester 58238\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"tree\":{\"sha\":\"a9ca945741d41287d8bb35c9423e660e931d3695\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/trees/a9ca945741d41287d8bb35c9423e660e931d3695\"},\"message\":\"test commit\",\"parents\":[{\"sha\":\"0cd9174475323d277817fc6e2ff5a94aca089a12\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/0cd9174475323d277817fc6e2ff5a94aca089a12\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/0cd9174475323d277817fc6e2ff5a94aca089a12\"}],\"verification\":{\"verified\":false,\"reason\":\"unsigned\",\"signature\":null,\"payload\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "201 Created"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4377"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1588894106"
            },
            {
              "name": "etag",
              "value": "\"023b5d08320c7162b227c02d6c3fe25c\""
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "location",
              "value": "https://api.github.com/repos/malleatus/nyx-example/git/commits/5316c8d61536f1963449a263d4e8381eddaf1b85"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 0,
      },
      {
        "_id": "790b5d1d92734e60a5b01729e24881f0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"sha\":\"5316c8d61536f1963449a263d4e8381eddaf1b85\",\"ref\":\"refs/heads/tests/merge-by-context-review\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/refs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 415,
            "text": "{\"ref\":\"refs/heads/tests/merge-by-context-review\",\"node_id\":\"MDM6UmVmMjQ4NTkzNDUzOnRlc3RzL21lcmdlLWJ5LWNvbnRleHQtcmV2aWV3\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/refs/heads/tests/merge-by-context-review\",\"object\":{\"sha\":\"5316c8d61536f1963449a263d4e8381eddaf1b85\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/5316c8d61536f1963449a263d4e8381eddaf1b85\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "201 Created"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
          [...]
