{
  "log": {
    "_recordingName": "doesnt-merge-red-prs",
    "creator": {
      "comment": "persister:sanitizing-fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "c8c1ef26888041a92087ca117eb420e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"message\":\"test commit\",\"author\":{\"name\":\"testy mctester 55782\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T16:13:31+12:00\"},\"parents\":[\"0cd9174475323d277817fc6e2ff5a94aca089a12\"],\"tree\":\"a9ca945741d41287d8bb35c9423e660e931d3695\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/commits"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1111,
            "text": "{\"sha\":\"cc66e6b08f09bb934444ea1ffc20c014d1aec921\",\"node_id\":\"MDY6Q29tbWl0MjQ4NTkzNDUzOmNjNjZlNmIwOGYwOWJiOTM0NDQ0ZWExZmZjMjBjMDE0ZDFhZWM5MjE=\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/cc66e6b08f09bb934444ea1ffc20c014d1aec921\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/cc66e6b08f09bb934444ea1ffc20c014d1aec921\",\"author\":{\"name\":\"testy mctester 55782\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"committer\":{\"name\":\"testy mctester 55782\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"tree\":{\"sha\":\"a9ca945741d41287d8bb35c9423e660e931d3695\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/trees/a9ca945741d41287d8bb35c9423e660e931d3695\"},\"message\":\"test commit\",\"parents\":[{\"sha\":\"0cd9174475323d277817fc6e2ff5a94aca089a12\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/0cd9174475323d277817fc6e2ff5a94aca089a12\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/0cd9174475323d277817fc6e2ff5a94aca089a12\"}],\"verification\":{\"verified\":false,\"reason\":\"unsigned\",\"signature\":null,\"payload\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"95dd69150925b5410fef4c6967740f9979006c55dcf3ab0d690c269c5f387fda\""
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "location",
              "value": "https://api.github.com/repos/malleatus/nyx-example/git/commits/cc66e6b08f09bb934444ea1ffc20c014d1aec921"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4589"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1632432004"
            },
            {
              "name": "x-ratelimit-used",
              "value": "411"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 0,
      },
      {
        "_id": "8b28181903e94476756ed34e1bfb4049",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"sha\":\"cc66e6b08f09bb934444ea1ffc20c014d1aec921\",\"ref\":\"refs/heads/tests/doesnt-merge-red-prs\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/refs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 421,
            "text": "{\"ref\":\"refs/heads/tests/doesnt-merge-red-prs\",\"node_id\":\"MDM6UmVmMjQ4NTkzNDUzOnJlZnMvaGVhZHMvdGVzdHMvZG9lc250LW1lcmdlLXJlZC1wcnM=\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/refs/heads/tests/doesnt-merge-red-prs\",\"object\":{\"sha\":\"cc66e6b08f09bb934444ea1ffc20c014d1aec921\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/cc66e6b08f09bb934444ea1ffc20c014d1aec921\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"7525b2b23caddd9f9e1a5aaf9e26da3ebe5d6d3fbcf37a62924123760d7e2c16\""
            },
            {
              "name": "x-oauth-scopes",
   [...]
