{
  "log": {
    "_recordingName": "doesnt-merge-red-prs",
    "creator": {
      "comment": "persister:sanitizing-fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "c8c1ef26888041a92087ca117eb420e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"message\":\"test commit\",\"author\":{\"name\":\"testy mctester 36625\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T16:13:31+12:00\"},\"parents\":[\"0cd9174475323d277817fc6e2ff5a94aca089a12\"],\"tree\":\"a9ca945741d41287d8bb35c9423e660e931d3695\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/commits"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1111,
            "text": "{\"sha\":\"99f904c3e2091cde6e4884690bfe223cb7127a8c\",\"node_id\":\"MDY6Q29tbWl0MjQ4NTkzNDUzOjk5ZjkwNGMzZTIwOTFjZGU2ZTQ4ODQ2OTBiZmUyMjNjYjcxMjdhOGM=\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/99f904c3e2091cde6e4884690bfe223cb7127a8c\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/99f904c3e2091cde6e4884690bfe223cb7127a8c\",\"author\":{\"name\":\"testy mctester 36625\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"committer\":{\"name\":\"testy mctester 36625\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"tree\":{\"sha\":\"a9ca945741d41287d8bb35c9423e660e931d3695\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/trees/a9ca945741d41287d8bb35c9423e660e931d3695\"},\"message\":\"test commit\",\"parents\":[{\"sha\":\"0cd9174475323d277817fc6e2ff5a94aca089a12\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/0cd9174475323d277817fc6e2ff5a94aca089a12\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/0cd9174475323d277817fc6e2ff5a94aca089a12\"}],\"verification\":{\"verified\":false,\"reason\":\"unsigned\",\"signature\":null,\"payload\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "201 Created"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4948"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1587355055"
            },
            {
              "name": "etag",
              "value": "\"b4c848d535d738fb5f3b03afdc57aa6b\""
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "location",
              "value": "https://api.github.com/repos/malleatus/nyx-example/git/commits/99f904c3e2091cde6e4884690bfe223cb7127a8c"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 0,
      },
      {
        "_id": "3f93641152acb0463d4a56d91cc73121",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"sha\":\"99f904c3e2091cde6e4884690bfe223cb7127a8c\",\"ref\":\"refs/heads/tests/doesnt-merge-red-prs\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/refs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 405,
            "text": "{\"ref\":\"refs/heads/tests/doesnt-merge-red-prs\",\"node_id\":\"MDM6UmVmMjQ4NTkzNDUzOnRlc3RzL2RvZXNudC1tZXJnZS1yZWQtcHJz\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/refs/heads/tests/doesnt-merge-red-prs\",\"object\":{\"sha\":\"99f904c3e2091cde6e4884690bfe223cb7127a8c\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/99f904c3e2091cde6e4884690bfe223cb7127a8c\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "201 Created"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
          [...]
