{
  "log": {
    "_recordingName": "doesnt-merge-red-prs",
    "creator": {
      "comment": "persister:sanitizing-fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "c8c1ef26888041a92087ca117eb420e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"message\":\"test commit\",\"author\":{\"name\":\"testy mctester 42605\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T16:13:31+12:00\"},\"parents\":[\"0cd9174475323d277817fc6e2ff5a94aca089a12\"],\"tree\":\"a9ca945741d41287d8bb35c9423e660e931d3695\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/commits"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1111,
            "text": "{\"sha\":\"ad5a58924eff88a758415098dd72558965a6a8be\",\"node_id\":\"MDY6Q29tbWl0MjQ4NTkzNDUzOmFkNWE1ODkyNGVmZjg4YTc1ODQxNTA5OGRkNzI1NTg5NjVhNmE4YmU=\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/ad5a58924eff88a758415098dd72558965a6a8be\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/ad5a58924eff88a758415098dd72558965a6a8be\",\"author\":{\"name\":\"testy mctester 42605\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"committer\":{\"name\":\"testy mctester 42605\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"tree\":{\"sha\":\"a9ca945741d41287d8bb35c9423e660e931d3695\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/trees/a9ca945741d41287d8bb35c9423e660e931d3695\"},\"message\":\"test commit\",\"parents\":[{\"sha\":\"0cd9174475323d277817fc6e2ff5a94aca089a12\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/0cd9174475323d277817fc6e2ff5a94aca089a12\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/0cd9174475323d277817fc6e2ff5a94aca089a12\"}],\"verification\":{\"verified\":false,\"reason\":\"unsigned\",\"signature\":null,\"payload\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "201 Created"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4501"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1588894106"
            },
            {
              "name": "etag",
              "value": "\"3547e224469415acbf0d8a1296299645\""
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "location",
              "value": "https://api.github.com/repos/malleatus/nyx-example/git/commits/ad5a58924eff88a758415098dd72558965a6a8be"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 0,
      },
      {
        "_id": "5e6416be7c4428b643c4645fd146a5c5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"sha\":\"ad5a58924eff88a758415098dd72558965a6a8be\",\"ref\":\"refs/heads/tests/doesnt-merge-red-prs\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/refs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 405,
            "text": "{\"ref\":\"refs/heads/tests/doesnt-merge-red-prs\",\"node_id\":\"MDM6UmVmMjQ4NTkzNDUzOnRlc3RzL2RvZXNudC1tZXJnZS1yZWQtcHJz\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/refs/heads/tests/doesnt-merge-red-prs\",\"object\":{\"sha\":\"ad5a58924eff88a758415098dd72558965a6a8be\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/ad5a58924eff88a758415098dd72558965a6a8be\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "201 Created"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
          [...]
