{
  "log": {
    "_recordingName": "doesnt-merge-prs-with-pending-checks",
    "creator": {
      "comment": "persister:sanitizing-fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "c8c1ef26888041a92087ca117eb420e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"message\":\"test commit\",\"author\":{\"name\":\"testy mctester 51813\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T16:13:31+12:00\"},\"parents\":[\"0cd9174475323d277817fc6e2ff5a94aca089a12\"],\"tree\":\"a9ca945741d41287d8bb35c9423e660e931d3695\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/commits"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1111,
            "text": "{\"sha\":\"587c4a705c6d7c14bcd6f13608f5ffec0c89a450\",\"node_id\":\"MDY6Q29tbWl0MjQ4NTkzNDUzOjU4N2M0YTcwNWM2ZDdjMTRiY2Q2ZjEzNjA4ZjVmZmVjMGM4OWE0NTA=\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/587c4a705c6d7c14bcd6f13608f5ffec0c89a450\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/587c4a705c6d7c14bcd6f13608f5ffec0c89a450\",\"author\":{\"name\":\"testy mctester 51813\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"committer\":{\"name\":\"testy mctester 51813\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"tree\":{\"sha\":\"a9ca945741d41287d8bb35c9423e660e931d3695\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/trees/a9ca945741d41287d8bb35c9423e660e931d3695\"},\"message\":\"test commit\",\"parents\":[{\"sha\":\"0cd9174475323d277817fc6e2ff5a94aca089a12\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/0cd9174475323d277817fc6e2ff5a94aca089a12\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/0cd9174475323d277817fc6e2ff5a94aca089a12\"}],\"verification\":{\"verified\":false,\"reason\":\"unsigned\",\"signature\":null,\"payload\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "201 Created"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4391"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1588894106"
            },
            {
              "name": "etag",
              "value": "\"190c2f12e37e6c491802e9329c8d8e98\""
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "location",
              "value": "https://api.github.com/repos/malleatus/nyx-example/git/commits/587c4a705c6d7c14bcd6f13608f5ffec0c89a450"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 0,
      },
      {
        "_id": "7b4eee29c6cf77d0a75d8a019f43de05",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"sha\":\"587c4a705c6d7c14bcd6f13608f5ffec0c89a450\",\"ref\":\"refs/heads/tests/fail-branch-doesnt-merge-prs-with-some-green-status-some-red-checks\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/refs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 563,
            "text": "{\"ref\":\"refs/heads/tests/fail-branch-doesnt-merge-prs-with-some-green-status-some-red-checks\",\"node_id\":\"MDM6UmVmMjQ4NTkzNDUzOnRlc3RzL2ZhaWwtYnJhbmNoLWRvZXNudC1tZXJnZS1wcnMtd2l0aC1zb21lLWdyZWVuLXN0YXR1cy1zb21lLXJlZC1jaGVja3M=\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/refs/heads/tests/fail-branch-doesnt-merge-prs-with-some-green-status-some-red-checks\",\"object\":{\"sha\":\"587c4a705c6d7c14bcd6f13608f5ffec0c89a450\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/587c4a705c6d7c14bcd6f13608f5ffec0c89a450\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "201 Created"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
          [...]
