{
  "log": {
    "_recordingName": "doesnt-merge-prs-with-pending-checks",
    "creator": {
      "comment": "persister:sanitizing-fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "c8c1ef26888041a92087ca117eb420e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"message\":\"test commit\",\"author\":{\"name\":\"testy mctester 34037\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T16:13:31+12:00\"},\"parents\":[\"0cd9174475323d277817fc6e2ff5a94aca089a12\"],\"tree\":\"a9ca945741d41287d8bb35c9423e660e931d3695\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/commits"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1111,
            "text": "{\"sha\":\"3fd830aff2fc52bf49bc4c61073205c3ffab4d94\",\"node_id\":\"MDY6Q29tbWl0MjQ4NTkzNDUzOjNmZDgzMGFmZjJmYzUyYmY0OWJjNGM2MTA3MzIwNWMzZmZhYjRkOTQ=\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/3fd830aff2fc52bf49bc4c61073205c3ffab4d94\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/3fd830aff2fc52bf49bc4c61073205c3ffab4d94\",\"author\":{\"name\":\"testy mctester 34037\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"committer\":{\"name\":\"testy mctester 34037\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"tree\":{\"sha\":\"a9ca945741d41287d8bb35c9423e660e931d3695\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/trees/a9ca945741d41287d8bb35c9423e660e931d3695\"},\"message\":\"test commit\",\"parents\":[{\"sha\":\"0cd9174475323d277817fc6e2ff5a94aca089a12\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/0cd9174475323d277817fc6e2ff5a94aca089a12\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/0cd9174475323d277817fc6e2ff5a94aca089a12\"}],\"verification\":{\"verified\":false,\"reason\":\"unsigned\",\"signature\":null,\"payload\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"bf7ed523704e081c08d8c206ffbc657e7f5c8e2ee272b04eafbd6371abe02194\""
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "location",
              "value": "https://api.github.com/repos/malleatus/nyx-example/git/commits/3fd830aff2fc52bf49bc4c61073205c3ffab4d94"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4947"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1632435718"
            },
            {
              "name": "x-ratelimit-used",
              "value": "53"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 0,
      },
      {
        "_id": "0427be817183241baddbc8420b4b0065",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"sha\":\"3fd830aff2fc52bf49bc4c61073205c3ffab4d94\",\"ref\":\"refs/heads/tests/fail-branch-doesnt-merge-prs-with-some-green-status-some-red-checks\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/refs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 579,
            "text": "{\"ref\":\"refs/heads/tests/fail-branch-doesnt-merge-prs-with-some-green-status-some-red-checks\",\"node_id\":\"MDM6UmVmMjQ4NTkzNDUzOnJlZnMvaGVhZHMvdGVzdHMvZmFpbC1icmFuY2gtZG9lc250LW1lcmdlLXBycy13aXRoLXNvbWUtZ3JlZW4tc3RhdHVzLXNvbWUtcmVkLWNoZWNrcw==\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/refs/heads/tests/fail-branch-doesnt-merge-prs-with-some-green-status-some-red-checks\",\"object\":{\"sha\":\"3fd830aff2fc52bf49bc4c61073205c3ffab4d94\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/3fd830aff2fc52bf49bc4c61073205c3ffab4d94\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"f458e034f6c96f506611e12b8c7ac007dcfe89a0591052a3a4016300f2692d24\""
            },
            {
              "name": "x-oauth-scopes",
   [...]
