{
  "log": {
    "_recordingName": "doesnt-merge-green-when-one-collab-approves-and-another-rejects",
    "creator": {
      "comment": "persister:sanitizing-fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "c8c1ef26888041a92087ca117eb420e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"message\":\"test commit\",\"author\":{\"name\":\"testy mctester 39939\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T16:13:31+12:00\"},\"parents\":[\"0cd9174475323d277817fc6e2ff5a94aca089a12\"],\"tree\":\"a9ca945741d41287d8bb35c9423e660e931d3695\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/commits"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1111,
            "text": "{\"sha\":\"e29b34c4d19717f510be4404483ddee9393db900\",\"node_id\":\"MDY6Q29tbWl0MjQ4NTkzNDUzOmUyOWIzNGM0ZDE5NzE3ZjUxMGJlNDQwNDQ4M2RkZWU5MzkzZGI5MDA=\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/e29b34c4d19717f510be4404483ddee9393db900\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/e29b34c4d19717f510be4404483ddee9393db900\",\"author\":{\"name\":\"testy mctester 39939\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"committer\":{\"name\":\"testy mctester 39939\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"tree\":{\"sha\":\"a9ca945741d41287d8bb35c9423e660e931d3695\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/trees/a9ca945741d41287d8bb35c9423e660e931d3695\"},\"message\":\"test commit\",\"parents\":[{\"sha\":\"0cd9174475323d277817fc6e2ff5a94aca089a12\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/0cd9174475323d277817fc6e2ff5a94aca089a12\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/0cd9174475323d277817fc6e2ff5a94aca089a12\"}],\"verification\":{\"verified\":false,\"reason\":\"unsigned\",\"signature\":null,\"payload\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "201 Created"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4924"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1587355055"
            },
            {
              "name": "etag",
              "value": "\"e73fdd9e866010390f87c9b6949afeb0\""
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "location",
              "value": "https://api.github.com/repos/malleatus/nyx-example/git/commits/e29b34c4d19717f510be4404483ddee9393db900"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 0,
      },
      {
        "_id": "8aa9996c808f25033ed85bc67f18606b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"sha\":\"e29b34c4d19717f510be4404483ddee9393db900\",\"ref\":\"refs/heads/tests/merge-green-prs-when-collaborator-approves\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/refs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 481,
            "text": "{\"ref\":\"refs/heads/tests/merge-green-prs-when-collaborator-approves\",\"node_id\":\"MDM6UmVmMjQ4NTkzNDUzOnRlc3RzL21lcmdlLWdyZWVuLXBycy13aGVuLWNvbGxhYm9yYXRvci1hcHByb3Zlcw==\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/refs/heads/tests/merge-green-prs-when-collaborator-approves\",\"object\":{\"sha\":\"e29b34c4d19717f510be4404483ddee9393db900\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/e29b34c4d19717f510be4404483ddee9393db900\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "201 Created"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
          [...]
