{
  "log": {
    "_recordingName": "merge-green-prs-by-checks-when-collaborator-approves",
    "creator": {
      "comment": "persister:sanitizing-fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "c8c1ef26888041a92087ca117eb420e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"message\":\"test commit\",\"author\":{\"name\":\"testy mctester 31249\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T16:13:31+12:00\"},\"parents\":[\"0cd9174475323d277817fc6e2ff5a94aca089a12\"],\"tree\":\"a9ca945741d41287d8bb35c9423e660e931d3695\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/commits"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1111,
            "text": "{\"sha\":\"276f41c08f5021d2708c72b485ce261ffb04b028\",\"node_id\":\"MDY6Q29tbWl0MjQ4NTkzNDUzOjI3NmY0MWMwOGY1MDIxZDI3MDhjNzJiNDg1Y2UyNjFmZmIwNGIwMjg=\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/276f41c08f5021d2708c72b485ce261ffb04b028\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/276f41c08f5021d2708c72b485ce261ffb04b028\",\"author\":{\"name\":\"testy mctester 31249\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"committer\":{\"name\":\"testy mctester 31249\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"tree\":{\"sha\":\"a9ca945741d41287d8bb35c9423e660e931d3695\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/trees/a9ca945741d41287d8bb35c9423e660e931d3695\"},\"message\":\"test commit\",\"parents\":[{\"sha\":\"0cd9174475323d277817fc6e2ff5a94aca089a12\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/0cd9174475323d277817fc6e2ff5a94aca089a12\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/0cd9174475323d277817fc6e2ff5a94aca089a12\"}],\"verification\":{\"verified\":false,\"reason\":\"unsigned\",\"signature\":null,\"payload\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"c4db879a2a54c5eb6e0e37e8687c0fd00a69e8cb62a55d3f20490991dcbe0a28\""
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "location",
              "value": "https://api.github.com/repos/malleatus/nyx-example/git/commits/276f41c08f5021d2708c72b485ce261ffb04b028"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4571"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1632432004"
            },
            {
              "name": "x-ratelimit-used",
              "value": "429"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 0,
      },
      {
        "_id": "3a7c52788ab860cbe68fabc921d62e7d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"sha\":\"276f41c08f5021d2708c72b485ce261ffb04b028\",\"ref\":\"refs/heads/tests/merge-green-prs-when-collaborator-approves\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/refs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 493,
            "text": "{\"ref\":\"refs/heads/tests/merge-green-prs-when-collaborator-approves\",\"node_id\":\"MDM6UmVmMjQ4NTkzNDUzOnJlZnMvaGVhZHMvdGVzdHMvbWVyZ2UtZ3JlZW4tcHJzLXdoZW4tY29sbGFib3JhdG9yLWFwcHJvdmVz\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/refs/heads/tests/merge-green-prs-when-collaborator-approves\",\"object\":{\"sha\":\"276f41c08f5021d2708c72b485ce261ffb04b028\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/276f41c08f5021d2708c72b485ce261ffb04b028\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"bd445622dca2f06f85cddd7917cb4204cee1713bfdce8601a6b9d2105539d1c4\""
            },
            {
              "name": "x-oauth-scopes",
   [...]
