{
  "log": {
    "_recordingName": "merge-by-context-commit-in-no-pr",
    "creator": {
      "comment": "persister:sanitizing-fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "c8c1ef26888041a92087ca117eb420e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"message\":\"test commit\",\"author\":{\"name\":\"testy mctester 48591\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T16:13:31+12:00\"},\"parents\":[\"0cd9174475323d277817fc6e2ff5a94aca089a12\"],\"tree\":\"a9ca945741d41287d8bb35c9423e660e931d3695\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/commits"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1111,
            "text": "{\"sha\":\"60d7456641833ad7caccadcdfce7407688a3d2aa\",\"node_id\":\"MDY6Q29tbWl0MjQ4NTkzNDUzOjYwZDc0NTY2NDE4MzNhZDdjYWNjYWRjZGZjZTc0MDc2ODhhM2QyYWE=\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/60d7456641833ad7caccadcdfce7407688a3d2aa\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/60d7456641833ad7caccadcdfce7407688a3d2aa\",\"author\":{\"name\":\"testy mctester 48591\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"committer\":{\"name\":\"testy mctester 48591\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"tree\":{\"sha\":\"a9ca945741d41287d8bb35c9423e660e931d3695\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/trees/a9ca945741d41287d8bb35c9423e660e931d3695\"},\"message\":\"test commit\",\"parents\":[{\"sha\":\"0cd9174475323d277817fc6e2ff5a94aca089a12\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/0cd9174475323d277817fc6e2ff5a94aca089a12\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/0cd9174475323d277817fc6e2ff5a94aca089a12\"}],\"verification\":{\"verified\":false,\"reason\":\"unsigned\",\"signature\":null,\"payload\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "201 Created"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4366"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1588894106"
            },
            {
              "name": "etag",
              "value": "\"bb6e0b7679e78230bfd9a47cefca2e4f\""
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "location",
              "value": "https://api.github.com/repos/malleatus/nyx-example/git/commits/60d7456641833ad7caccadcdfce7407688a3d2aa"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 0,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
