{
  "log": {
    "_recordingName": "doesnt-merge-prs-with-some-green-and-some-pending-status",
    "creator": {
      "comment": "persister:sanitizing-fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "c8c1ef26888041a92087ca117eb420e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"message\":\"test commit\",\"author\":{\"name\":\"testy mctester 12502\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T16:13:31+12:00\"},\"parents\":[\"0cd9174475323d277817fc6e2ff5a94aca089a12\"],\"tree\":\"a9ca945741d41287d8bb35c9423e660e931d3695\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/commits"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1111,
            "text": "{\"sha\":\"b545c860e8c0b2771341cd090941fd4e32b324d9\",\"node_id\":\"MDY6Q29tbWl0MjQ4NTkzNDUzOmI1NDVjODYwZThjMGIyNzcxMzQxY2QwOTA5NDFmZDRlMzJiMzI0ZDk=\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/b545c860e8c0b2771341cd090941fd4e32b324d9\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/b545c860e8c0b2771341cd090941fd4e32b324d9\",\"author\":{\"name\":\"testy mctester 12502\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"committer\":{\"name\":\"testy mctester 12502\",\"email\":\"test@example.com\",\"date\":\"2008-08-09T04:13:31Z\"},\"tree\":{\"sha\":\"a9ca945741d41287d8bb35c9423e660e931d3695\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/trees/a9ca945741d41287d8bb35c9423e660e931d3695\"},\"message\":\"test commit\",\"parents\":[{\"sha\":\"0cd9174475323d277817fc6e2ff5a94aca089a12\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/0cd9174475323d277817fc6e2ff5a94aca089a12\",\"html_url\":\"https://github.com/malleatus/nyx-example/commit/0cd9174475323d277817fc6e2ff5a94aca089a12\"}],\"verification\":{\"verified\":false,\"reason\":\"unsigned\",\"signature\":null,\"payload\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"23234a0e5cde5dee830a49e2c8255ac0c32d1c17d93f833d7b493a9a35d5906b\""
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "location",
              "value": "https://api.github.com/repos/malleatus/nyx-example/git/commits/b545c860e8c0b2771341cd090941fd4e32b324d9"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4507"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1632432004"
            },
            {
              "name": "x-ratelimit-used",
              "value": "493"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 0,
      },
      {
        "_id": "a6855909448c551773b27a4c2c37e765",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"sha\":\"b545c860e8c0b2771341cd090941fd4e32b324d9\",\"ref\":\"refs/heads/tests/merge-green-prs-when-collaborator-approves\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/malleatus/nyx-example/git/refs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 493,
            "text": "{\"ref\":\"refs/heads/tests/merge-green-prs-when-collaborator-approves\",\"node_id\":\"MDM6UmVmMjQ4NTkzNDUzOnJlZnMvaGVhZHMvdGVzdHMvbWVyZ2UtZ3JlZW4tcHJzLXdoZW4tY29sbGFib3JhdG9yLWFwcHJvdmVz\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/refs/heads/tests/merge-green-prs-when-collaborator-approves\",\"object\":{\"sha\":\"b545c860e8c0b2771341cd090941fd4e32b324d9\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/malleatus/nyx-example/git/commits/b545c860e8c0b2771341cd090941fd4e32b324d9\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"17f1cb6fc87ea637736f8fca3d0ed85b4612e5c69bea24331b658f82dd12f4f0\""
            },
            {
              "name": "x-oauth-scopes",
   [...]
